<div class="container-fluid">
  <div class="table-header">
    <button type="button" class="btn btn-secondary" (click)="refresh()">
      <i class="fas fa-refresh"></i>
      Refresh
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Administrator</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.is_admin }}</td>
        <td>
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="delete(user)"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
