<div class="content">
  <select (change)="select($event)">
    <option disabled="disabled" selected>- Select identity -</option>
    <option *ngFor="let identity of identities$ | async" [value]="identity.id">
      {{ identity.first_name }} {{ identity.last_name }}
    </option>
  </select>

  <app-webcam
    *ngIf="identity$ | async"
    (snapshot)="onCapture($event)"
  ></app-webcam>
  <p *ngIf="error$ | async as error" class="text-danger">{{ error }}</p>
  <p *ngIf="message$ | async as message" class="text-success">{{ message }}</p>
  <button *ngIf="identity$ | async" (click)="learn()">Learn</button>
</div>
